sudo: required

language: generic

services:
 - docker

addons:
 apt:
  sources:
   - sourceline: deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main
     key_url: https://packages.microsoft.com/keys/microsoft.asc
  packages:
   - libunwind8
   - azure-functions-core-tools

before_install:
 - echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ wheezy main" | sudo tee /etc/apt/sources.list.d/azure-cli.list
 - curl -L https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
 - sudo apt-get install apt-transport-https
 - sudo apt-get update && sudo apt-get install azure-cli

script:
 - ls

deploy:
- provider: script
  script: git fetch && git push https://$AZURE_WA_USERNAME:$AZURE_WA_PASSWORD@$AZURE_DEV_SITENAME.scm.azurewebsites.net:443/$AZURE_DEV_SITENAME.git HEAD:refs/heads/develop
  on: develop
- provider: script
  script: git fetch && git push https://$AZURE_WA_USERNAME:$AZURE_WA_PASSWORD@$AZURE_PROD_SITENAME.scm.azurewebsites.net:443/$AZURE_PROD_SITENAME.git HEAD:refs/heads/master
  on: master
