<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/ad440-francesco-api-1box-rg/providers/Microsoft.Web/sites/ad4401boxfransprint263s2plkbwxejg</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://ad4401boxfransprint263s2plkbwxejg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>ad4401boxfransprint263s2plkbwxejg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ad4401boxfransprint263s2plkbwxejg</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ad4401boxfransprint263s2plkbwxejg</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>