<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demofunctionsmikal-1-10-2019.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a6661464-0c47-4b25-826c-9e157b159bba/resourcegroups/networklab01-rg/providers/Microsoft.Web/sites/DemoFunctionsMikal-1-10-2019</ResourceId>
    <UserName>$DemoFunctionsMikal-1-10-2019</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://demofunctionsmikal-1-10-2019.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>